


.comparision__table{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.comparision__table > table > tr > th {
    padding: 0px 40px;
    font-size: 25px;
    justify-content: space-between;
}

.comparision__table > table > tr > td {
    font-size: 20px;
    justify-content: space-between;
}
/* .comparision__table > table > tr {
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.comparision__table > table > tr > td {
    color: black;
}

.comparision__table > table{
    width: 800px;
    height: 400px;
}

.comparision__table > table > tr:hover {
    background-color: #fff;
    color:black;
}  */

.comparision__table > table {
    height: 500px;
    width: 900px;
    margin-left: 50px;
}

.comparision__comment{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.comment__section{
    display: flex;
    align-items: center;
    text-align: center;
}

.comment__section > h2 {
    margin-right: 10px;
}